# Sample OpenOCD configuration for the EK-TM4C123GXL development board

# Depending on the hardware revision you got you'll have to pick ONE of these
# interfaces. At any time only one interface should be commented out.

# OpenOCD board config file
source [find board/ek-tm4c123gxl.cfg]

